@media (min-width: 1200px) {
    .container {
       max-width: 1170px;
       padding-left: 0;
       padding-right: 0;
    }
  }
@media (min-width: 1023px) {
    
  .nav-header ul li:not(:nth-child(4)):hover::before {
     color: #c3a281;
     transform: scale(1);  
  }
  .nav-header ul li:hover a{
    color: #FFFF;
  }
  .banner-button a:hover{
    background-color: #fff;
    color: #c3a281;
  }
  .story-content a:hover{
    background-color: #000;
  }
  .img-product-des a:last-child:hover{
    background-color: #c3a281;
    color: #fff;
  }
  .item-text a:hover,
  .contact-form .button-send:hover{
    background-color: #000;
    color: #fff;
  }
  .bt-add-img:hover{
    opacity: 1;
    color: #c3a281
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info a:hover,
  .ser-des-text a:hover, .img-product-des a:first-child:hover{
    background-color: #fff;
    color: #c3a281;
  }
  .footer-nav-col ul li a:hover{
    color: #c3a281;
  }
  .restaurant-footer .content .social a:hover{
    opacity: 0.7;
  }
  .desc-img-text .item-img-col:hover{
    box-shadow: 0px 0px 30px rgb(103 92 92 / 25%);
  }
  .desc-img-text .item-img-col:hover .img-product img{
    transform: scale(1.2);
  }
  .searchbar .input-group-text:hover,
  .desc-input .arrow a:hover{
    background-color: #000;
    color: #fff;
  }
}
@media (max-width:1199px){
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  .restaurant-footer .content .container{
    margin: auto;
  }
  .carousel-indicators{
    bottom: 30px;
  }
  .number-banner-slider{
    bottom: 70px;
  }
  .desc-input .searchbar{
    width: 100%;
  }
  .item-img-col .item-text p:first-child{
    width: 80%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px){
  .story-content{
    padding-left: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .restaurant-slider,.contain-fluid-slider{
    min-height: unset;
    height: 800px;
  }
  .contain-slider{
    padding-top: 220px;
  }
  /* Story */
  .restaurant-story{
    padding: 10% 0;
  }
  .story-content{
    padding-left: 50px;
  }
  .contain-fluid-story h2 hr{
    width: 160px;
  }
  .story-content p{
    width: 350px;
  }
  /* Service */
  .service-item:nth-child(2){
    padding: 30px 10px 0;
  }
  .service-item:nth-child(3){
    padding: 10px 10px 0;
  }
  .item-text{
    padding:10px 0 0 0;
  }
  .service-item:nth-child(2) .image-service-second{
    width: 80px;
  }
  .service-item:nth-child(3) .image-service-second{
    width: 50px;
  }
  .service-item .item-text p:first-child{
    font-size: 17px;
    font-weight: bold;
  }
  .service-item .item-text p:nth-child(2){
    font-size:14px;
  }
  .ser-des-text p{
    font-size: 15px;
  }
  .ser-des-text{
    padding: 0 30px;
    bottom:8%;
  }
  .img-service-content{
    height: 465px;
  }
  /* About us */
  main .about_us .backdrop_bg .content .aboutus_content p{
    width: 83%;
    margin-bottom: 15px;
  }
  main .about_us .backdrop_bg .content .aboutus_content{
    padding-top: 15px;
  }
  .video-youtube iframe{
    height: 279px;
  }
  .contact-form{
    top: 59%;
  }
  .contact-title p:first-child{
    font-size:30px;
    margin-bottom: 5px;
  }
  .contact-title hr{
    width: 80%;
    margin: 10px 0 0;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info i{
    margin-right: 0px;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info i{
    padding: 12px 15px;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info{
    padding: 25px 0;
  }
  .chef-info{
    padding: 0 10px 0 15px;
  }
  .chef-info h4{
    font-size: 18px;
  }
  main .about_us .backdrop_bg .content .chef .chef-info{
    padding: 0;
  }
  .restaurant-footer .content .row{
    margin: auto;
  }
  /* .contain-menu .row .col-image-left,
  .contain-menu .row .col-image-right{
    height: 570px;
  } */
  .contain-service-desc .service-desc-content,
  .contain-fluid-service-desc:last-child .service-desc-content{
    padding: 10px 0 0;
  }
  .service-desc-content .content-title h2 hr{
    width: 100px;
  }
  .service-desc-content .content-text{
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  /* Slider */
  .restaurant-slider,.contain-fluid-slider{
    min-height: unset;
    height: 600px;
  }
  .contain-slider{
    padding-top: 180px;
  }
  .banner-button{
    bottom: 30%;
  }
  .banner-title p:first-child{
    font-size: 40px;
}
.banner-title p:nth-child(2){
    font-size: 62px;
}
.banner-title p:nth-child(3){
    font-size:20px;
}
/* Story */
.restaurant-story{
  padding: 6% 0;
}
  .story-content{
    padding-left: 40px;
  }
  .story-content p{
    width: 320px;
    padding: 0 0 10px
  }
  .contain-fluid-story h2 hr{
    width: 150px;
  }
  .contain-fluid-story h2{
    font-size: 30px;
  }
  .button-add{
    font-size: 55px;
    padding: 10px 30px;
  }
  .text-title{
    font-size: 20px;
    width: 100%;
  }
  .button-read{
    font-size:18px;
  }
/* Service */
  .service-item:nth-child(2){
    padding: 30px 10px 0;
  }
  .service-item:nth-child(3){
    padding: 10px 10px 0;
  }
  .service-item .item-text{
    padding:10px 0 0 0;
  }
  .service-item:nth-child(2) .image-service-second{
    width: 80px;
  }
  .service-item:nth-child(3) .image-service-second{
    width: 50px;
  }
  .service-item .item-text p:first-child{
    font-size: 17px;
    font-weight: bold;
  }
  .service-item .item-text p:nth-child(2){
    font-size:14px;
  }
  .ser-des-text p{
    font-size: 15px;
  }
  .ser-des-text{
    padding: 0 30px;
    bottom:5%;
  }
  .service-item:nth-child(3){
    padding: 10px 10px 0;
  }
  .service-item:nth-child(2) .image-service-second,
  .service-item:nth-child(3) .image-service-second{
    width: auto;
  }
  .service-item .item-text p:first-child,
  .ser-des-text h3{
    font-size: 25px;
  }
  .service-item.item-text p:nth-child(2),
  .ser-des-text p{
    font-size: 18px;
  }
  .service-item a{
    font-size: 22px;
  }
  .service-item:nth-child(2){
    padding: 70px 10px 0;
  }
  .service-item:nth-child(3){
    padding: 50px 10px 0;
  }
  .service-item:last-child a{
    font-size: 30px;
    padding: 20px 40px;
  }
  .ser-des-text{
    bottom: 11%;
    padding: 0 50px;
  }

/* About us */
  main .about_us .backdrop_bg .content .slide_aboutus .info i{
    padding: 5px 10px;
    margin-right: 0px;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info{
    padding: 25px 0;
  }
  .chef-info{
    padding: 0 10px 0 15px;
  }
  .video-youtube iframe {
    width: 100%;
    height: 200px;
  }
  main .about_us .backdrop_bg .content .aboutus_content{
    padding-top: 0;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .chef-info{
    margin-right: 5px;
    padding: 0;
  }
  .chef-info h4{
    font-size: 16px;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info p{
    font-size: 14px;
  }
  main .about_us .backdrop_bg .content .aboutus_content .title{
    font-size: 25px;
    margin-bottom: 10px;
  }
  main .about_us .backdrop_bg .content .aboutus_content p{
    width: 100%;
    margin-bottom: 10px;
  }
  /* Carousel */
  .carousel-control-next, .carousel-control-prev{
    display: none;
  }
}
@media (max-width: 991px){
  .list-img-service{
    padding: 10px 0 0 0;
  }
  .rice_banner .img2{
    left: -120px;
    top: -120px;
  }
  .contain-fluid-contact .container{
    position: unset;
  }
  .restaurant-contact{
    padding: 40px 0;
  }
  .contact-form{
    padding-top: 20px;
    width: 100%;
    transform:unset;
    position: unset;
  }
  .restaurant-footer .content .social{
    padding-top: 20px;
  }
  .contact-title{
    padding: 0;
  }
  .contact-title p{
    margin: 0;
    padding-bottom: 10px;
  }
  .contact-title hr{
    margin: 0;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .back{
    display: none!important;
  }
  .carousel-control-next, .carousel-control-prev{
    display: none;
  }
  .img-service-content{
    position: relative;
    height: auto;
  }
  .img-service-content img{
    position: unset;
  }
  .row-service{
    flex-direction: row-reverse;
  }
  main .about_us .backdrop_bg .content{
    position: unset;
  }
  .video-youtube{
    position: unset;
    width: auto;
  }
  .rice_banner-story .img1,
  .rice_banner-menu .img1{
    left: -200px;
}
.rice_banner-story .img2,
.rice_banner-menu .img2{
    right: -240px;
}
.desc-input{
  display: block!important;
}
.desc-input .arrow{
  padding: 10px 0 0!important;
}
.desc-input .arrow a{
  padding: 7px 15px;
}
.item-img-col .item-text p:first-child{
  font-size: 18px;
  width: 100%;
}
.item-img-col .item-text p:last-child{
  font-size: 15px;
}
.item-img-col .item-text{
  padding: 15px 10px 0;
}
  /* Ser Des */
  .service-desc-content .content-text{
    padding: 0;
  }
  .contain-fluid-service-desc:last-child .contain-service-desc{
    padding-top: 40px;
  }
  .restaurant-service-desc{
    padding: 10px 0 40px;
  }
}
@media (max-width: 767px){
  .container{
    max-width: 100%;
  }
  .restaurant-slider{
    margin-top: 0px!important;
  }
  .nav-header{
    padding-top: 17px;
  }
  .logo-header{
    padding-top:10px;
    display:table;
    text-align:center;
    margin: auto;
  }
  .logo-header a{
    display: block;
  }
  .ser-des-text{
    bottom: 8%;
  }
  /* Slider */
  .banner-title p:first-child{
    font-size: 34px;
}
.banner-title p:nth-child(2){
    font-size: 52px;
}
.banner-title p:nth-child(3){
    font-size:20px;
}
.contain-fluid-slider,
.restaurant-slider{
  min-height: unset;
  height: 550px
}
.contain-slider{
  padding-top: 160px;
}
.carousel-indicators [data-bs-target]{
  width: 50px;
}
.number-banner-slider{
  bottom: 45px;
}
.carousel-indicators {
  bottom: 10px;
}
/* Story */
.contain-fluid-story{
  position: unset;
}
.story-img{
  position: unset;
  transform:unset;
}
.restaurant-story{
  padding: 40px 0;
  background: url(../img/homepage/rice-banner.png) no-repeat top -100px right -250px, url(../img/homepage/rice2-banner.png) no-repeat right -290px bottom;
  background-color: #f0f0f0;
}
.contain-story{
  display: block;
}
.contain-fluid-story h2{
  margin: 0;
  display: block;
}
.contain-fluid-story h2 hr{
  margin: 10px auto;
}
.story-content p{
  padding:0;
  width: 100%;
  margin-bottom: 20px;
}
.story-content a{
  font-size: 18px;
}
.story-content p br:first-child{
  display:none;
}
.contain-fluid-story{
  display: block;
}
.story-img{
  width: 90%;
  padding: 0 10px;
  margin: auto;
}
.story-content{
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
/* Product */
.nav-item{
  padding: 0 20px;
}
.background-drop-product{
  padding: 40px 0 55px;
}
.list-img-product{
  justify-content: space-between;
}
.list-img-product img{
  width: calc((100% - 10px )/2);
}
.list-img-product img:nth-child(2n){
  margin-left: 10px;
}
.img-product-plus{
  padding: 10px 0;
}
.number-slider{
  padding: 10px 0 20px;
}
#carouselProduct .carousel-indicators, #carouselProduct2 .carousel-indicators, #carouselProduct3 .carousel-indicators{
  bottom: -105px;
}
/* Service */
.restaurant-service{
  padding: 70px 0 40px;
}
.service-item:nth-child(2){
  padding: 7% 5px 5%;
}
.service-item:nth-child(3){
  padding: 5% 5px 5%;
}
.item-text p:first-child{
  font-size: 3.5vw;
}
.item-text p:nth-child(2){
  font-size: 2.5vw;
  margin-bottom: 2vh;
}
.service-item:not(:last-child) a{
  font-size: 2.5vw;
}
.service-item:nth-child(2) .image-service-second{
  width: 15vw;
}
.service-item:nth-child(3) .image-service-second{
  width: 10vw;
}
.ser-des-text h3{
  font-size: 4vw;
}
.ser-des-text p,
.ser-des-text a{
  font-size: 2.5vw;
}
.ser-des-text p{
  padding-bottom: 0;
}
.ser-des-text h3 hr{
  margin: 17px auto 5px;
}
.contact-title p:first-child,.title h2,
.contain-fluid-story h2,main .about_us .backdrop_bg .content .aboutus_content .title{
  font-size:26px;
}
.contact-title{
  text-align: center;
}
.contact-title hr{
  margin: auto;
  width: 250px;
}
.title h2 hr{
  width: 250px;
}
/* About us */
main .about_us .backdrop_bg .content .slide_aboutus{
  margin-bottom: 0;
}
main .about_us .backdrop_bg .content .aboutus_content .title{
  width: 250px;
  text-align: center;
  margin: auto;
}
main .about_us .backdrop_bg .content .aboutus_content,
main .about_us .backdrop_bg .content .slide_aboutus{
  width: 100%;
}
main .about_us .backdrop_bg .content{
  padding: 40px 10px;
}
main .about_us .backdrop_bg .content .aboutus_content{
  padding-top: 0;
}
main .about_us .backdrop_bg .content .aboutus_content p{
  padding-top: 10px;
  width: 80%;
  margin: 0 auto 10px;
}
main .about_us .backdrop_bg .content .slide_aboutus .chef{
  padding-right: 0;
}
main .about_us .backdrop_bg .content .slide_aboutus img,
main .about_us .backdrop_bg .content .slide_aboutus .info{
  width: 95%;
}
main .about_us .backdrop_bg .content .aboutus_content{
  padding: 0 6px 10px;
}
/* Nav Bar */
.nav-header ul{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: #000;
    top: 74px;
    left: -110%;
    text-align: center;
    display: block;
    transition: all 0.5s linear;
    display: block!important;
  }
  .nav-header ul li {
    /* padding: 25px 0; */
    height: 76px;
    border-bottom: 1px solid #c3a281;
  }
  .nav-header ul li a{
    display: flex;
    justify-content:center;
    width: 100%;
    height:100%;
    align-items: center;
  }
  .nav-header ul li:nth-child(4){
    display: none;
  }
  .btn-bar{
    display: block;
  }
  .nav-header ul.show{
    left: 0;
  }
  .contain-story-desc:last-child{
    padding: 35px 0 0;
  }
  .contain-fluid-story-desc{
    padding: 50px 0 30px;
  }
  .product-desc-menu{
    padding: 20px 0 40px;
  }
  .contain-menu .row{
    padding: 0 10px;
  }
  .contain-menu .row  .col-12:first-child{
    height: 400px;
  }
  .contain-menu .desc-title{
    padding: 20px 0 0;
  }
  .desc-input{
    padding: 0 0 25px;
  }
  .item-img-col .item-text p:first-child{
    font-size: 20px;
  }
  .item-img-col .item-text p:last-child{
    font-size: 16px;
  }
  .contain-menu .row .col-image-left,
  .contain-menu .row .col-image-right{
    position: unset;
  }
  .contain-fluid-menu:last-child .contain-menu .row{
    flex-direction: row-reverse;
    padding-top: 60px;
  }
    /* Service Des */
    .contain-service-desc .service-desc-content{
      padding: 25px 0 0;
    }
    .contain-fluid-service-desc .contain-service-desc .service-icon-desc img{
      width: 26vw;
    }
    .contain-fluid-service-desc:last-child .contain-service-desc .service-icon-desc img{
      width: 20vw;
    }
    .contain-fluid-service-desc:last-child .contain-service-desc .service-icon-desc{
      padding: 16% 10%;
    }
    .service-icon-desc p:nth-child(2){
      padding-top: 5px;
    }
    .service-desc-content .content-title h2{
      display: block;
      font-size: 22px
    }
    .service-desc-content .content-title h2 hr{
      width: 250px;
      margin-top: 7px;
      margin-bottom: 20px;
    }
    .contain-fluid-service-desc:last-child .contain-service-desc{
      padding-top: 30px;
    }
  
}
@media(max-width:575px){
  .footer-nav-col:not(:last-child) ul{
    display: flex;
    /* list-style: outside; */
    justify-content: space-between;
  }
  .footer-nav-col p{
    color: #c3a281
  }
  .restaurant-footer .copyright{
    padding: 20px 0 30px;
  }
  .restaurant-footer .content{
    padding: 30px 20px 20px;
  }
  .restaurant-footer .content .social{
    padding-top: 8px;
  }
}
@media (max-width: 541px){
  .banner-title p:first-child{
    font-size: 35px;
  }
  .banner-title p:nth-child(2){
    font-size: 40px;
    line-height: 1.2;
    padding: 10px 0;
  }
  .banner-title p:nth-child(3){
    font-size: 16px;
  }
  .banner-button{
    padding-top: 10px;
  }
  .banner-button a{
    font-size: 3.5vw;
    padding: 10px 15px;
  }
  .nav-item{
    padding: 0 ;
  }
  .nav-item a{
    font-size: 16px;
    padding: 0 25px 5px;
  }
  .img-product-des{
    top: 25%;
  }
  .button-add{
    padding: 5% 12%;
    font-size: 20vw
  }
  .story-content,.story-img{
    width: 100%;
  }
  .text-title, .img-product-des a:nth-child(3){
    font-size: 5vw;
  }
  .service-item:nth-child(2){
    padding: 5.5% 5px 0;
  }
  .service-item:nth-child(3){
    padding: 2% 5px 0;
  }
  .service-item:nth-child(3) .item-text{
    padding-top: 5px;
  }
  .img-service-des{
    height: 100%;
  }
  .ser-des-text{
    bottom: 0;
    top: 50%;
    transform:translateY(-50%);
    padding: 0 20px ;
  }
  .ser-des-text h3{
    font-size: 5.5vw;
  }
  .ser-des-text p, .ser-des-text a{
    font-size: 3.5vw;
  }
  main .about_us .backdrop_bg .content .slide_aboutus img, main .about_us .backdrop_bg .content .slide_aboutus .info{
    display: block!important;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .chef-info{
    padding: 0 0 10px;
    margin-right: 0;
  }
  main .about_us .backdrop_bg .content .slide_aboutus .info h4{
    font-size: 18px;
  }
  main .about_us .backdrop_bg .content .aboutus_content p{
    width: 100%;
  }
  .background-drop-footer{
    padding: 0;
  }
  .footer-nav-col{
    padding-bottom: 5px;
  }
  .nav-item a{
    padding: 0 15px 5px;
  }
  .contact-form form{
    padding: 40px 30px;
  }
  .item-map:nth-child(2){
    line-height: 0;
    text-align: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 11vw;
    font-size: 5vw;
  }
}
@media (max-width: 375px){
  .ser-des-text{
    top: 45%;
  }
  .service-item .item-text p:nth-child(2),
  .service-item .item-text p:nth-child(3){
    margin-bottom: 5px;
  }
}
@media (max-width: 320px){
  .service-item .item-text p:nth-child(2),
  .service-item .item-text p:nth-child(3){
    display: none;
  }
  .service-item .item-text p:first-child{
    margin-bottom: 10px;
  }
  .service-item:nth-child(3){
    padding-top: 3%;
  }
}